---
import { getCollection } from "astro:content";
import Section from "../components/section.astro";
import Document from "../layouts/document.astro";

export async function getStaticPaths() {
  const cvs = await getCollection("curriculum");

  return cvs.map((cv) => ({
    params: { curriculum: cv.data.id },
    props: {
      ...cv,
      cvs,
    },
  }));
}

const cv = Astro.props;
---

<Document light header={false} footer={false} class="!gap-2.5">
  <div class="print:hidden absolute top-3.5 prose">
    <div>
      {
        cv.cvs
          .filter((cv2) => cv2.id !== cv.id)
          .map((cv2) => (
            <a class="no-underline hover:underline" href={`/${cv2.data.id}`}>
              👉 {cv2.data.lang}
            </a>
          ))
      }
    </div>
  </div>

  <Section class="mt-4">
    <small class="block text-right">{cv.data.title}</small>
    <h1 class="!mb-0 text-center !text-5xl">
      {cv.data.name}
    </h1>
    <small class="text-center block"
      >{cv.data.phone} | <a href={`mailto:${cv.data.email}`}>{cv.data.email}</a
      ></small
    >

    <p class="text-lg !mt-1 ml-5 text-right">
      <a class="text-base" href="https://arthur.place" target="_blank"
        >arthur.place</a
      >
      <br />
      <a
        class="text-base"
        href="https://linkedin.com/in/arthurfiorette"
        target="_blank"
      >
        linkedin.com/in/arthurfiorette
      </a>
      <br />
      <small>{cv.data.month}</small>
    </p>
  </Section>

  <Section>
    {cv.data.about.map((a) => <p set:html={a} class="text-base !m-1" />)}
  </Section>

  <Section>
    <h2 class="!mb-0 !text-xl">
      {cv.data.educationName}
    </h2>

    <ul class="flex flex-col !gap-0">
      {
        cv.data.education.map((education) => (
          <li class="!p-1 !m-0">
            <h4 class="!m-0 text-base">{education.date}</h4>
            <div
              class="!m-0 text-base font-medium"
              set:html={education.title}
            />
            <div class="text-sm">{education.institution}</div>
          </li>
        ))
      }
    </ul>
  </Section>

  <Section class="!m-0 !p-0">
    <h2 class="!mb-0 !p-0 !text-xl">
      {cv.data.experienceName}
    </h2>

    <ul class="!m-0 !p-0">
      {
        cv.data.experiences.map((experience) => (
          <li class="flex gap-5 mt-2">
            <div class="text-lg text-right whitespace-nowrap">
              <b class="block text-base">{experience.start} </b>
              <b class="block text-base">{experience.end}</b>
              <small>{experience.type}</small>
            </div>

            <div class="flex flex-col gap-1.5">
              <h4
                class="!m-0 !align-center text-lg"
                set:html={experience.title}
              />
              <div>
                {experience.about.map((c) => (
                  <p class="!m-0 text-base" set:html={c} />
                ))}
              </div>
            </div>
          </li>
        ))
      }
    </ul>
  </Section>

  <Section>
    <h2 class="!m-0 !p-0 !text-xl">
      {cv.data.ossTitle}
    </h2>

    <div>
      {
        cv.data.oss.map((c) => (
          <p class="text-base !my-0 !py-0 !pt-2" set:html={c} />
        ))
      }
    </div>
  </Section>
</Document>
