---
import Section from '../components/section.astro';
import Document from '../layouts/document.astro';
import { OssProjects, ossProjectSorter } from '../projects';
import { getStargazerCount } from '../util/github';
import { getNpmDownloadCount } from '../util/npm';
import { abbrNumber } from '../util/number';

// const posts = (await getCollection('blog')).filter((p) => p.data.published === true);

for (const project of OssProjects) {
  const [downloads, stars] = await Promise.all([
    getNpmDownloadCount(project.npm),
    getStargazerCount({ owner: project.owner, name: project.name })
  ]);

  project.downloads = downloads || 0;
  project.stars = stars || 0;
}
---

<Document>
  <Section>
    <h1 class='text-center'>
      Eai 👋<br />I am <span class='name'>Arthur Fiorette</span>
    </h1>

    <p>
      I'm a passionate software engineer from Brazil 🇧🇷. My love for open source projects
      connects people worldwide and drives us toward a better future. When I'm not coding,
      you'll find me enjoying mountain biking, playing Counter-Strike, volleyball, or
      helping beginners with coding.
    </p>

    <p>
      I'm dedicated to full-stack development. I started my coding journey in late 2018
      with Java, initially tinkering with Minecraft plugins. Since then, I've grown to
      develop various applications, including SaaS enterprise projects, a TypeScript
      framework, and even my own programming language.
    </p>
  </Section>

  <Section>
    <p>
      I enjoy taking on new coding challenges and building libraries. I occasionally write
      about software-related topics. Additionally, You can explore some of my open source
      projects below:
    </p>

    <div class='text-center text-sm mx-auto italic'>
      A total of {OssProjects.reduce((acc, p) => acc + p.stars, 0)} ★ stars and {
        abbrNumber(OssProjects.reduce((acc, p) => acc + p.downloads * 4, 0))
      } ↓ downloads per month only counting projects authored by me.
    </div>

    <div class='w-full flex flex-wrap items-stretch justify-center'>
      {
        OssProjects.sort(ossProjectSorter).map((p) => (
          <div class='hover:bg-neutral-800 bh p-4 m-2 w-[45%] rounded-md border border-transparent hover:border-neutral-700'>
            <a
              href={`https://github.com/${p.owner}/${p.name}`}
              target='_blank'
              class='no-underline text-current font-normal h-full'
              rel='noopener noreferrer'>
              <div class='flex flex-col items-stretch justify-between h-full gap-2'>
                <h4 class='!m-0'>{p.prettyName}</h4>
                <div class='text-sm'>{p.description}</div>
                <div class='text-sm'>
                  {!!p.stars && (
                    <span class='hover:text-neutral-200'>
                      <b>{p.stars}</b> ★ on github <br />
                    </span>
                  )}

                  {!!p.downloads && (
                    <span class='hover:text-neutral-200'>
                      <b>{abbrNumber(p.downloads * 4)}</b> ↓ per month
                    </span>
                  )}
                </div>
              </div>
            </a>
          </div>
        ))
      }
    </div>
  </Section>
</Document>
