---
import type { CollectionEntry } from 'astro:content';
import { getReadTime } from '../util/read-time';
import MinRead from './min-read.astro';
import Time from './time.astro';

interface Props {
  data: CollectionEntry<'blog'>;
  minimalistic?: boolean;
}

const {
  data: { data: post, slug, body },
  minimalistic = false
} = Astro.props;
---

<a
  href={`/${slug}`}
  title={post.description}
  class:list={[
    'no-underline group p-4 block',
    minimalistic && '!flex !flex-col !justify-start p-2'
  ]}>
  <h2
    class:list={[
      'font-normal !text-3xl text-center font-sans !mt-0 group-hover:text-cream-light',
      minimalistic && '!text-left'
    ]}>
    {post.title}
  </h2>
  <p class='!mb-0 font-light !text-lg text-neutral-300'>{post.description}</p>
  <small class='font-light !text-base text-neutral-300'>
    <Time datetime={post.date} />
    <MinRead minRead={getReadTime(body)} />
  </small>
</a>
