---
import { getReadTime } from "../util/read-time";
import MinRead from "./min-read.astro";
import Time from "./time.astro";

interface Post {
  id: string;
  slug: string;
  body: string;
  collection: string;
  data: {
    title: string;
    description: string;
    date: Date;
    keywords: string[];
    published: boolean | "preview";
  };
}

interface Props {
  data: Post;
}

const {
  data: { data: post, slug, body },
} = Astro.props;
---

<a
  href={`/${slug}`}
  title={post.description}
  class="no-underline group p-4 block"
>
  <h2
    class="font-normal !text-3xl text-center font-sans !mt-0 group-hover:text-cream-light"
  >
    {post.title}
  </h2>
  <p class="!mb-0 font-light !text-lg text-neutral-300">{post.description}</p>
  <small class="font-light !text-base text-neutral-300">
    <Time datetime={post.date} />
    <MinRead minRead={getReadTime(body)} />
  </small>
</a>
